@media screen and (max-width:900px) {
    .header{
        &__menuMobile{
            display: flex;
            flex-direction: column;
            width: 65px;
            height: auto;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 0;
            background-color: $PurplePrimary;
            border-radius:0 0 10px 10px ;
            box-shadow: -2px 3px 4px $PurpleSecondary;
            img{
                padding: 10px 0;
                width: 30px;
            }
        }
        .nav{
            &__left{
                    padding-left: 20px;
                    h1{
                        display: none;
                    }
            }
            &__right{
                width: auto;
                justify-content: flex-start;
                padding-right: 20px;
                #homeDesktop,
                #favDesktop,
                #uploadDesktop, 
                #idDesktop,
                #userDesktop{
                    display: none;
                }
                &--iconMenuMobile{
                    display: block;
                    button{
                        background-color: transparent;
                        border: none;
                    }
                } 
                &--containerCounter{
                    display: none;
                    &--counter{
                        top: 5px;
                        right: -8px;
                    }
                    &--menuMobile{
                        display: block;
                    }
                }
            }
        }
    }

}