*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: $PurpleBg;
    font-family: 'Roboto', sans-serif;
}

a{
    display: flex;
    text-decoration: none;
}
ul{
    list-style: none;
}