.smoothTopToBottom{
    animation: 2s smoothTopToBottom 0.5s ease-in-out;
}

@keyframes smoothTopToBottom {
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}


.hardMoveRotate{
    animation: 1s hardMoveRotate  ease-in-out;
}
@keyframes hardMoveRotate {
    0%{
        transform: scale(1.4);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg) scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.fadeInDown{
    animation: 0.3s fadeInDown ease-in-out;
}
@keyframes fadeInDown {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.fadeInUp{
    animation: 0.3s fadeInUp ease-in-out;
}
@keyframes fadeInUp {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}