@media screen and (max-width:900px) {
    .header{
        .nav{
            &__left{
                    padding-left: 20px;
                    h1{
                        display: none;
                    }
            }
            &__right{
                width: auto;
                justify-content: flex-start;
                padding-right: 20px;
                #homeDesktop,
                #favDesktop,
                #uploadDesktop, 
                #idDesktop,
                #userDesktop{
                    display: none;
                }
                &--iconMenuMobile{
                    display: block;
                    button{
                        background-color: transparent;
                        border: none;
                    }
                } 
                &--containerCounter{
                    display: none;
                    &--counter{
                        top: 5px;
                        right: -8px;
                    }
                    &--menuMobile{
                        display: block;
                    }
                }
            }
        }
    }
    .main{
        .nav{
            &__menuMobile{
                display: flex;
                flex-direction: column;
                width: 65px;
                height: auto;
                justify-content: center;
                align-items: center;
                position: fixed;
                right: 0;
                top: 60px;
                background-color: $PurplePrimary;
                border-radius:0 0 10px 10px ;
                box-shadow: -2px 3px 4px $PurpleSecondary;
                img{
                    margin: 10px 0;
                    width: 30px;
                }
            }   
            &__right{
                &--iconMenuMobile{
                    display: block;
                    button{
                        background-color: transparent;
                        border: none;
                    }
                } 
                &--iconUser {
                    border-radius: 50%;
                }
                &--containerCounter{
                    position: relative;
                    &--counter{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 13px;
                        height: 13px;
                        padding: 2px;
                        right: -8px;
                        top: 5px;
                        border-radius: 50%;
                        background-color: $PurplePrimary;
                        border: solid 1px $PurpleSecondary;
                        span{
                            text-align: center;
                            color: $PurpleSecondary;
                            font-size: 11px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}